/*-- scss:defaults --*/

// Fonts
$font-weight-base: 400 !default;


// Links
$link-decoration: underline !default;
$toc-color: #b3d3f5;  /*-- Set active link color for TOC sidebar (RIGHT) --*/


// Inline code
$code-bg: #2b2b2b;
$code-color: #ffd700;



/*-- scss:rules --*/


body {
  background-color: #ffde7a;
  /*background-image: radial-gradient(circle, #FB8500, #FD9E02, #FFB703);*/
  font-size: 16px;
}

.content {
  background-color: #fff;
  border: 1px solid #273043;
  border-radius: 25px;
  padding: 25px 60px 25px;
}


// Headings
h1, h2, h3, h4, h5, h6 {
  color: #000;
  //color: #9f86c0;
}

.header-section-number {
  color: #000;
}


// Main text
p {
  font-family: 'Atkinson Hyperlegible', serif;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

// List elements
li {
  font-family: 'Atkinson Hyperlegible', serif;
  line-height: 1.5em;
}

li > p {
  margin-top: 0;
  margin-bottom: 0;
}

// Mouse over link
a:hover {
  color: #c10088;
}


.blockquote {
  color: #00759a;
  border-left: .25rem solid #00759a;
}

// Set font size for math

.MathJax {
    font-size: 100% !important;
}

/* Inline math */
span.math.inline {
  font-size: 13pt;
}

/* Display math */
span.math.display {
  font-size: 13pt;
}


#callout {
  font-size: 12pt;
}


// Sidebar navigation - LEFT SIDE
.sidebar-title {
  color: #fff;
}

.sidebar-navigation a {
  color: #fff;
}

.sidebar-navigation a:hover {
  color: #fff;
  text-decoration: underline;
}

.sidebar-item .chapter-number {
  color: #fff;
}

.sidebar-item-text {
  color: #fff;
}

div.sidebar-item-container .active .chapter-number {
  color: #fff;
}

//Sidebar navigation - RIGHT SIDE
#quarto-margin-sidebar {
  background-color: #443850;
}

// Title color
#TOC, #toc-title {
  color: #fff;
  font-size: 14pt;
}

// Nonactive sidebar items
.sidebar nav[role="doc-toc"] ul > li > a {
  color: #fff;
}

.sidebar.header-section-number{
  color: #fff;
}

// Active sidebar item
div.sidebar-item-container .active {
  color: #fff;
}


.sidebar nav[role="doc-toc"] ul > li > a:hover {
    color: #fff;
    text-decoration: underline;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover .header-section-number {
    color: #fff;
    text-decoration: underline;
}


// Bottom of the page navigation
.nav-page .bi, span.nav-page-text {
  color: #333;
}


// Style cover art 
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  width: 40%;
}


// Style source code
div.sourceCode {
 border-radius: 0; 
}


/*********************************************
 * R CODE OUTPUT
 *********************************************/

pre code:not(.sourceCode) {
  color: black;
  background-color: #fdfbd4;
}



/*********************************************
 * CAPTIONS
 *********************************************/
 
// Figure caption
.figure-caption {
  font-size: 12pt;
  font-style: italic;
  color: #000;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}


figure > figcaption.quarto-float-caption-bottom {
  font-size: 12pt;
  font-style: italic;
  color: #000;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

figure > figcaption.quarto-float-caption-top {
  font-size: 12pt;
  font-style: italic;
  color: #000;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}


/** Make the caption italic and black **/
.table caption{
  font-style: italic;
  color: black;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 12pt;
  caption-side: top;
  text-align: left;
}



/*********************************************
 * TABLE BORDERS
 *********************************************/


/** Change border color to black **/
.table thead tr th {
  border-color: black;
  border-width: 1px;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 12px;
  font-weight: normal;
}


/** Add a top border to the table header row **/
.table thead th { 
  border-top: 1px solid black;
  border-left: 0;
  border-right: 0;
}


/** Format and remove borders within the table body **/
.table tbody tr td {
  border: none;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 12px;
}


/** Add a bottom border to the table body **/
.table tbody tr:last-child {
  border-bottom: 1px solid black;
}


/** Format and remove borders within the table footer **/
.table tfoot {
  border: none;
  border-width: 0;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 12px;
}


#references {
  margin-bottom: 5em;
}

td.gt_footnote{
  font-size: 12px;
}

button.btn.code-tools-button {
  color: #c10088;

}

.code-tools-button > .bi::before {
  fill: #c10088;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(193, 0, 136)" viewBox="0 0 16 16"><path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/></svg>');
}

